aaaa ICON "ICO/Program.ico"
COPY RCDATA "ICO/editcopy.png"
CUT RCDATA "ICO/editcut.png"
PASTE RCDATA "ICO/editpaste.png"
NEW RCDATA "ICO/filenew.png"
OPEN RCDATA "ICO/fileopen.png"
SAVE RCDATA "ICO/filesave.png"
SAVEAS RCDATA "ICO/filesaveas.png"
REDO RCDATA "ICO/redo.png"
SAVEALL RCDATA "ICO/save_all.png"
UNDO RCDATA "ICO/UNDO.png"
#include "wx/msw/wx.rc"
