<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ColourSettingDialog">
		<title>颜色设置</title>
		<centered>1</centered>
		<size>399,228</size>
		<id_arg>0</id_arg>
		<object class="wxListBox" name="ID_LISTBOX1" variable="m_listBox_Style" member="yes">
			<content>
				<item>默认</item>
				<item>注释</item>
				<item>跳转</item>
				<item>函数</item>
				<item>字符串</item>
				<item>操作符</item>
				<item>变量</item>
				<item>数字</item>
				<item>行数侧边栏</item>
			</content>
			<pos>16,24</pos>
			<size>184,144</size>
			<handler function="Onm_listBox_StyleSelect" entry="EVT_LISTBOX" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>字体颜色：</label>
			<pos>220,40</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>背景颜色：</label>
			<pos>220,100</pos>
		</object>
		<object class="wxColourPickerCtrl" name="ID_COLOURPICKERCTRL1" variable="m_colourPickerCtrl_Forground" member="yes">
			<colour>#000000</colour>
			<pos>220,65</pos>
			<size>70,20</size>
			<handler function="Onm_colourPickerCtrl_ForgroundColourChanged" entry="EVT_COLOURPICKER_CHANGED" />
		</object>
		<object class="wxColourPickerCtrl" name="ID_COLOURPICKERCTRL2" variable="m_colourPickerCtrl_BackGround" member="yes">
			<colour>#000000</colour>
			<pos>220,125</pos>
			<size>70,20</size>
			<handler function="Onm_colourPickerCtrl_BackGroundColourChanged" entry="EVT_COLOURPICKER_CHANGED" />
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="m_button_Forground" member="yes">
			<label>D</label>
			<pos>300,38</pos>
			<size>20,20</size>
			<tooltip>默认颜色</tooltip>
			<handler function="Onm_button_ForgroundClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="m_button_Background" member="yes">
			<label>D</label>
			<pos>300,96</pos>
			<size>20,20</size>
			<tooltip>默认颜色</tooltip>
			<handler function="Onm_button_BackgroundClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON3" variable="m_button_OK" member="yes">
			<label>确认</label>
			<pos>88,192</pos>
			<handler function="Onm_button_OKClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON4" variable="m_button_Cancle" member="yes">
			<label>取消</label>
			<pos>216,192</pos>
			<handler function="Onm_button_CancleClick" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
