<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="JxqyScriptEditor">
		<title>剑侠情缘脚本编辑器</title>
		<centered>1</centered>
		<size>800,600</size>
		<id_arg>0</id_arg>
		<handler function="OnFrameClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxAuiNotebook" name="ID_AUINOTEBOOK1" variable="m_AuiBook" member="yes">
					<style>wxAUI_NB_CLOSE_ON_ALL_TABS|wxAUI_NB_DEFAULT_STYLE</style>
					<handler function="OnPageClosed" entry="EVT_AUINOTEBOOK_PAGE_CLOSED" />
					<handler function="OnPageChanged" entry="EVT_AUINOTEBOOK_PAGE_CHANGED" />
					<handler function="Onm_AuiBookPageChanging" entry="EVT_AUINOTEBOOK_PAGE_CHANGING" />
					<handler function="OBookTabRightDown" entry="EVT_AUINOTEBOOK_TAB_RIGHT_DOWN" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="m_menuBar" member="yes">
			<object class="wxMenu" variable="Menu1" member="yes">
				<label>文件</label>
				<object class="wxMenuItem" name="wxID_NEW" variable="MenuItem2" member="yes">
					<label>新建文档</label>
					<accel>Ctrl+N</accel>
				</object>
				<object class="wxMenuItem" name="wxID_OPEN" variable="MenuItem1" member="yes">
					<label>打开...</label>
					<accel>Ctrl+O</accel>
				</object>
				<object class="wxMenuItem" name="wxID_SAVE" variable="MenuItem3" member="yes">
					<label>保存</label>
					<accel>Ctrl+S</accel>
				</object>
				<object class="wxMenuItem" name="wxID_SAVEAS" variable="MenuItem4" member="yes">
					<label>另存为...</label>
					<accel>Ctrl+Alt+S</accel>
				</object>
				<object class="wxMenuItem" name="MYID_SAVEALL" variable="MenuItem5" member="yes">
					<label>保存所有</label>
					<accel>Ctrl+Shift+S</accel>
					<help>保存所有打开的文件</help>
				</object>
				<object class="wxMenuItem" name="MYID_CLOSE" variable="MenuItem6" member="yes">
					<label>关闭</label>
					<accel>Ctrl+W</accel>
				</object>
				<object class="wxMenuItem" name="MYID_CLOSEALL" variable="MenuItem7" member="yes">
					<label>关闭所有</label>
					<accel>Shift+Esc</accel>
					<help>关闭所有打开的文档</help>
				</object>
				<object class="wxMenuItem" name="wxID_EXIT" variable="MenuItem8" member="yes">
					<label>退出</label>
					<accel>Alt+F4</accel>
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>编辑</label>
				<object class="wxMenuItem" name="MYID_UNDO" variable="MenuItem17" member="yes">
					<label>撤销</label>
					<accel>Ctrl+Z</accel>
				</object>
				<object class="wxMenuItem" name="MYID_REDO" variable="MenuItem18" member="yes">
					<label>恢复</label>
					<accel>Ctrl+Y</accel>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="MYID_CUT" variable="MenuItem19" member="yes">
					<label>剪切</label>
					<accel>Ctrl+X</accel>
				</object>
				<object class="wxMenuItem" name="MYID_COPY" variable="MenuItem20" member="yes">
					<label>复制</label>
					<accel>Ctrl+C</accel>
				</object>
				<object class="wxMenuItem" name="MYID_PASTE" variable="MenuItem21" member="yes">
					<label>粘贴</label>
					<accel>Ctrl+V</accel>
				</object>
				<object class="wxMenuItem" name="MYID_DELETE" variable="MenuItem22" member="yes">
					<label>删除</label>
					<accel>DEL</accel>
				</object>
				<object class="wxMenuItem" name="MYID_SELECTALL" variable="MenuItem23" member="yes">
					<label>全选</label>
					<accel>Ctrl+A</accel>
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="yes">
				<label>搜索</label>
				<object class="wxMenuItem" name="wxID_FIND" variable="MenuItem24" member="yes">
					<label>查找...</label>
					<accel>Ctrl+F</accel>
				</object>
				<object class="wxMenuItem" name="wxID_REPLACE" variable="MenuItem25" member="yes">
					<label>替换...</label>
					<accel>Ctrl+R</accel>
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="yes">
				<label>设置</label>
				<object class="wxMenuItem" name="MYID_FONTSETTING" variable="MenuItem9" member="yes">
					<label>字体设置...</label>
				</object>
				<object class="wxMenuItem" name="MYID_COLOURSETTING" variable="MenuItem10" member="yes">
					<label>颜色设置...</label>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="MYID_WORDWRAP" variable="MenuItem11" member="yes">
					<label>自动换行</label>
					<accel>F2</accel>
					<checkable>1</checkable>
				</object>
				<object class="wxMenuItem" name="MYID_FUNHELP" variable="MenuItem12" member="yes">
					<label>显示函数帮助</label>
					<accel>F3</accel>
					<checkable>1</checkable>
				</object>
				<object class="wxMenuItem" name="MYID_SHOWLINENUMBER" variable="MenuItem16" member="yes">
					<label>显示行数</label>
					<accel>F4</accel>
					<checkable>1</checkable>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="MYID_JXQY2" variable="MenuItem13" member="yes">
					<label>剑侠情缘二</label>
					<accel>Ctrl+1</accel>
					<radio>1</radio>
				</object>
				<object class="wxMenuItem" name="MYID_YYCS" variable="MenuItem14" member="yes">
					<label>月影传说</label>
					<accel>Ctrl+2</accel>
					<radio>1</radio>
				</object>
				<object class="wxMenuItem" name="MYID_XJXQY" variable="MenuItem15" member="yes">
					<label>新剑侠情缘</label>
					<accel>Ctrl+3</accel>
					<radio>1</radio>
				</object>
			</object>
			<object class="wxMenu" variable="Menu5" member="yes">
				<label>帮助</label>
				<object class="wxMenuItem" name="wxID_HELP" variable="MenuItem30" member="yes">
					<label>帮助</label>
					<accel>F1</accel>
				</object>
				<object class="wxMenuItem" name="wxID_ABOUT" variable="MenuItem26" member="yes">
					<label>关于</label>
				</object>
			</object>
		</object>
		<object class="wxToolBar" name="ID_TOOLBAR1" variable="m_toolBar" member="yes">
			<object class="tool" name="wxID_NEW" variable="ToolBarItem1" member="yes">
				<label>新建文档</label>
				<bitmap code="wxBITMAP_PNG(NEW)" />
				<tooltip>新建文档</tooltip>
			</object>
			<object class="tool" name="wxID_OPEN" variable="ToolBarItem2" member="yes">
				<label>打开</label>
				<bitmap code="wxBITMAP_PNG(OPEN)" />
				<tooltip>打开文档</tooltip>
			</object>
			<object class="tool" name="wxID_SAVE" variable="ToolBarItem3" member="yes">
				<label>保存</label>
				<bitmap code="wxBITMAP_PNG(SAVE)" />
				<tooltip>保存</tooltip>
			</object>
			<object class="tool" name="wxID_SAVEAS" variable="ToolBarItem4" member="yes">
				<label>另存为</label>
				<bitmap code="wxBITMAP_PNG(SAVEAS)" />
				<tooltip>另存为</tooltip>
			</object>
			<object class="tool" name="TOOLBAR_MYID_SAVEALL" variable="ToolBarItem5" member="yes">
				<label>保存所有</label>
				<bitmap code="wxBITMAP_PNG(SAVEALL)" />
				<tooltip>保存所有</tooltip>
			</object>
			<object class="separator" />
			<object class="tool" name="TOOLBAR_MYID_UNDO" variable="ToolBarItem7" member="yes">
				<label>撤销</label>
				<bitmap code="wxBITMAP_PNG(UNDO)" />
				<tooltip>撤销</tooltip>
			</object>
			<object class="tool" name="TOOLBAR_MYID_REDO" variable="ToolBarItem6" member="yes">
				<label>恢复</label>
				<bitmap code="wxBITMAP_PNG(REDO)" />
				<tooltip>恢复</tooltip>
			</object>
			<object class="separator" />
			<object class="tool" name="TOOLBAR_MYID_CUT" variable="ToolBarItem8" member="yes">
				<label>剪切</label>
				<bitmap code="wxBITMAP_PNG(CUT)" />
				<tooltip>剪切</tooltip>
			</object>
			<object class="tool" name="TOOLBAR_MYID_COPY" variable="ToolBarItem9" member="yes">
				<label>复制</label>
				<bitmap code="wxBITMAP_PNG(COPY)" />
				<tooltip>复制</tooltip>
			</object>
			<object class="tool" name="TOOLBAR_MYID_PASTE" variable="ToolBarItem10" member="yes">
				<label>粘贴</label>
				<bitmap code="wxBITMAP_PNG(PASTE)" />
				<tooltip>粘贴</tooltip>
			</object>
			<object class="separator" />
			<object class="tool" name="wxID_FIND" variable="ToolBarItem11" member="yes">
				<label>查找</label>
				<bitmap code="wxBITMAP_PNG(FIND)" />
				<tooltip>查找</tooltip>
			</object>
			<object class="tool" name="wxID_REPLACE" variable="ToolBarItem12" member="yes">
				<label>替换</label>
				<bitmap code="wxBITMAP_PNG(REPLACE)" />
				<tooltip>替换</tooltip>
			</object>
		</object>
		<object class="wxMenu" variable="m_menuPageTabPopup" member="yes">
			<object class="wxMenuItem" name="MYID_PAGETABCLOSENOTTHIS" variable="MenuItem29" member="yes">
				<label>关闭非当前文件</label>
			</object>
			<object class="wxMenuItem" name="MYID_PAGETABCLOSEALL" variable="MenuItem28" member="yes">
				<label>关闭所有</label>
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="MYID_OPENFILEDIR" variable="MenuItem27" member="yes">
				<label>打开文件所在文件夹</label>
			</object>
		</object>
	</object>
</wxsmith>
